{% extends 'police_base_dashboard.html' %}

{% block main %}
<br><br>
<div class="container">
    <table class="table table-bordered border-success">
        <h1>Manage Criminals</h1>
        <thead class="table-dark">
            <tr>
                <th scope="col">S. No.</th>
                <th scope="col">Police Station Name</th>
                <th scope="col">Criminals ID</th>
                <th scope="col">Name</th>
                <th scope="col">Mobile</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in info %}
            <tr>
                <th scope="row">{{forloop.counter}}.</th>
                <td>{{i.police_station}}</td>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.number}}</td>
                <td><a href="/update_criminals/{{i.id}}"><i class="material-icons">edit</i></a>
                    <i class="material-icons">delete</i>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}